<footer class="page-footer js-key-scrolling-block" id="contacts">
    <div class="page-footer__bg">
        <div class="page-footer__bg-layer">
            <img src="img/maps/map-1.jpg" alt="" class="page-footer__bg-layer-image">
            <div class="page-footer__bg-pin" style="top: 45%; right: 20%;">
                <a href="#" class="page-footer__bg-pin-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon icon-pin">
                        <use xlink:href="#pin" />
                    </svg>
                </a>
                <div class="page-footer__pin-dropdown">
                    <div class="page-footer__pin-dropdown-inner">
                        <h4 class="page-footer__pin-dropdown-heading">
                            Office EU
                        </h4>
                        <div class="page-footer__pin-dropdown-text">
                            <p>
                                Pasilankatu 2, 00240 Helsinki, Finland
                                <a href="tel:+3580931589580">+358 (0) 9 3158 9580</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer__bg-pin" style="top: 52%; right: 12%;">
                <a href="#" class="page-footer__bg-pin-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon icon-pin">
                        <use xlink:href="#pin" />
                    </svg>
                </a>
                <div class="page-footer__pin-dropdown">
                    <div class="page-footer__pin-dropdown-inner">
                        <h4 class="page-footer__pin-dropdown-heading">
                            Office EU
                        </h4>
                        <div class="page-footer__pin-dropdown-text">
                            <p>
                                Pasilankatu 2, 00240 Helsinki, Finland
                                <a href="tel:+3580931589580">+358 (0) 9 3158 9580</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="page-footer__bg-layer" data-map-layer="us">
            <img src="img/maps/map-2.jpg" alt="" class="page-footer__bg-layer-image">
            <div class="page-footer__bg-pin" style="top: 68%; right: 25%;">
                <a href="#" class="page-footer__bg-pin-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon icon-pin">
                        <use xlink:href="#pin" />
                    </svg>
                </a>
                <div class="page-footer__pin-dropdown">
                    <div class="page-footer__pin-dropdown-inner">
                        <h4 class="page-footer__pin-dropdown-heading">
                            Office EU
                        </h4>
                        <div class="page-footer__pin-dropdown-text">
                            <p>
                                Pasilankatu 2, 00240 Helsinki, Finland
                                <a href="tel:+3580931589580">+358 (0) 9 3158 9580</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-footer__content">
            <div class="page-footer__logo">
                <img src="img/logo-colored.svg" alt="" class="page-footer__logo-image">
                Contacts
            </div>

            <div class="page-footer__contacts">
                <div class="page-footer__contacts-item">
                    <h4 class="page-footer__contacts-heading">
                        <a href="#" data-toggle-map-layer="us">
                            US HQ
                        </a>

                    </h4>
                    <div class="page-footer__contacts-text">
                        9 The Green, Ste A, City of Dover County of Kent, zip code 19901, Delaware, the United States
                        ofAmerica
                        tel: <a href="tel:+1(302)608-9033">+1&nbsp;(302)&nbsp;608-9033</a>
                    </div>
                </div>
                <div class="page-footer__contacts-item">
                    <h4 class="page-footer__contacts-heading">
                        R&D Office Moscow
                    </h4>
                    <div class="page-footer__contacts-text">
                        143026, Moscow, Bolshoy boulevard 42/1, Skolkovo center territory
                        tel: <a href="tel:+7 (499) 550-34-63">+7&nbsp;(499)&nbsp;550-34-63</a>
                    </div>
                </div>
                <div class="page-footer__contacts-item">
                    <h4 class="page-footer__contacts-heading">
                        Office EU
                    </h4>
                    <div class="page-footer__contacts-text">
                        Pasilankatu 2, 00240 Helsinki, Finland <a
                            href="tel:+358 (0) 9 3158 9580">+358&nbsp;(0)&nbsp;9&nbsp;3158
                            9580</a>
                    </div>
                </div>
                <div class="page-footer__contacts-item">
                    <h4 class="page-footer__contacts-heading">
                        <a href="#">
                            Office Turkey & Middle East
                        </a>
                    </h4>
                    <h4 class="page-footer__contacts-heading">
                        <a href="#">
                            Office Brazil & Latin America
                        </a>
                    </h4>
                </div>
            </div>

            <div class="page-footer__bottom-panel">
                <div class="page-footer__copyright">
                    © ООО «Ailet», 2020
                </div>

                <a href="#" class="page-footer__policy">
                    Data processing policy
                </a>

                <a href="#" class="page-footer__made-by">
                    Site creation

                    <img src="img/mark-weber.svg" alt="" class="page-footer__made-by-logo" width="65">
                </a>
            </div>
        </div>

    </div>
</footer>