<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__left-col">
                <div class="page-header__logo">
                    <img src="img/logo-full-dark.svg" alt="" class="page-header__logo-image" width="80">
                    <img src="img/logo-full-light.svg" alt="" class="page-header__logo-image page-header__logo-image--white" width="80">
                </div>
            </div>

            <div class="page-header__right-col">
                <a href="#" class="page-header__menu-link">
                    <span class="page-header__menu-link-burger">

                    </span>
                    Menu
                </a>

                <a href="#" class="page-header__contact-us js-form-open">
                    
                    <svg width="14" height="14" aria-hidden="true"
                        class="icon icon-message">
                        <use xlink:href="#message" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>