<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
        window.MSInputMethodContext && document.documentMode && document.write('<script src="assets/js/ie11CustomProperties.js"><\x2fscript>');
    </script>
    <script src="assets/js/svgInject.min.js"></script>
    <link rel="stylesheet" href="css/styles.min.css" />
    <title>
        {{ title }}
    </title>
    <script>
        if ('scrollRestoration' in history) {
            history.scrollRestoration = 'manual';
        }
    </script>
    <style>
        body {
            background-color: #0f001e;
        }

        .intro {
            transform: translateX(100%);
        }


        @media screen and (max-width: 1024px) {
            .intro {
                transform: translateX(0%);
            }
        }
    </style>
</head>

<body class="no-touch" ontouchstart="">
    <div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; ">
        {{> sprite }}
    </div>

    <div class="side-screen">
        <div class="side-screen-inner">
            <div class="side-screen-inner__video-container">
                <video class="lazyload" muted="" data-autoplay="" loop playsinline data-poster="img/video-poster.jpg"
                    preload="none">
                    <source src="assets/videos/video.mp4" type="video/mp4" />
                </video>
            </div>


            <div class="side-screen-text">
                From image to insight
            </div>
        </div>

    </div>

    <div class="page-content">
        <div class="menu">
            <div class="menu__sphere-container">
                <video class="lazyload" muted="" data-autoplay="" loop playsinline data-poster="img/video-poster.jpg"
                    preload="none">
                    <source src="assets/videos/video.mp4" type="video/mp4" />
                </video>
            </div>

            <div class="menu__inner">
                <div class="container">
                    <div class="menu__row">
                        <div class="menu__left-col">
                            <nav class="menu__nav">
                                <a href="#" class="menu__nav-link" target="_blank">
                                    about us

                                    <svg width="14" height="14" aria-hidden="true" class="icon icon-link">
                                        <use xlink:href="#link" />
                                    </svg>
                                </a>
                                <a href="#" class="menu__nav-link" target="_blank">
                                    What we do

                                    <svg width="14" height="14" aria-hidden="true" class="icon icon-link">
                                        <use xlink:href="#link" />
                                    </svg>
                                </a>
                                <a href="#to-overview" class="menu__nav-link">
                                    Solution overview
                                </a>
                                <a href="#to-why" class="menu__nav-link">
                                    Why ailet?
                                </a>
                                <a href="#to-partners" class="menu__nav-link">
                                    Trusted Partners
                                </a>
                                <a href="#to-contacts" class="menu__nav-link">
                                    Contacts
                                </a>
                            </nav>
                        </div>
                        <div class="menu__right-col">
                            <div class="menu__contacts">
                                <div class="menu__contacts-item">
                                    <h4 class="menu__contacts-item-heading">
                                        US HQ
                                    </h4>
                                    <div class="menu__contacts-item-text">
                                        9 The Green, Ste A, City of Dover County of Kent,
                                        zip code 19901, Delaware, the United States of America
                                        tel: <a href="tel:+1 (302) 608-9033">+1 (302) 608-9033</a>
                                    </div>
                                </div>
                                <div class="menu__contacts-item">
                                    <h4 class="menu__contacts-item-heading">
                                        Office EU
                                    </h4>
                                    <div class="menu__contacts-item-text">
                                        Pasilankatu 2, 00240 Helsinki, Finland
                                        <a href="tel:+358 (0) 9 3158 9580">+358 (0) 9 3158 9580</a>
                                    </div>
                                </div>
                                <div class="menu__contacts-item">
                                    <h4 class="menu__contacts-item-heading">
                                        Office Turkey & Middle East
                                    </h4>
                                    <h4 class="menu__contacts-item-heading">
                                        Office Brazil & Latin America
                                    </h4>

                                </div>

                                <div class="menu__contacts-item">
                                    <h4 class="menu__contacts-item-heading">
                                        R&D Office Moscow
                                    </h4>
                                    <div class="menu__contacts-item-text">
                                        143026, Moscow, Bolshoy boulevard 42/1, Skolkovo center territory
                                        tel: <a href="tel:+7 (499) 550-34-63">+7 (499) 550-34-63</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form">


            <div class="contact-form__inner">
                <div class="container">
                    <div class="contact-form__row">
                        <div class="contact-form__left-col">
                            <div class="contact-form__sphere">
                                <div class="contact-form__sphere-container">
                                    <video class="lazyload" muted="" data-autoplay="" loop playsinline
                                        data-poster="img/video-poster.jpg" preload="none">
                                        <source src="assets/videos/video.mp4" type="video/mp4" />
                                    </video>
                                </div>

                            </div>
                        </div>
                        <div class="contact-form__right-col">
                            <h2 class="contact-form__heading">
                                How can we help you?
                            </h2>
                            <form action="/" method="POST" class="contact-form__form" data-need-validation
                                id="contact-form">
                                <div class="contact-form__form-input-wrapper">
                                    <input type="text" class="contact-form__form-input" id="firstname"
                                        placeholder="First name" autocomplete="not" required>
                                    <label for="firstname" class="contact-form__form-input-label">First name</label>
                                </div>
                                <div class="contact-form__form-input-wrapper">
                                    <input type="text" class="contact-form__form-input" id="jobtitle"
                                        placeholder="Job title" autocomplete="not">
                                    <label for="jobtitle" class="contact-form__form-input-label">Job title</label>
                                </div>
                                <div class="contact-form__form-input-wrapper">
                                    <input type="email" class="contact-form__form-input" id="email" placeholder="E-mail"
                                        autocomplete="not" required>
                                    <label for="email" class="contact-form__form-input-label">E-mail</label>
                                </div>
                                <div class="contact-form__form-input-wrapper">
                                    <input type="text" class="contact-form__form-input" id="companyname"
                                        placeholder="Company name" autocomplete="not" required>
                                    <label for="companyname" class="contact-form__form-input-label">Company name</label>
                                </div>
                                <div class="contact-form__form-input-wrapper">
                                    <input type="tel" class="contact-form__form-input" id="phone"
                                        placeholder="Phone number" autocomplete="not" required>
                                    <label for="phone" class="contact-form__form-input-label">Phone number</label>
                                </div>
                                <div class="contact-form__form-input-wrapper">
                                    <div class="contact-form__custom-select">


                                        <select name="industry" class="js-custom-select">
                                            <option value="" placeholder>
                                                Industry
                                            </option>
                                            <option value="Construction">
                                                Construction
                                            </option>
                                            <option value="Sales">
                                                Sales
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="contact-form__form-input-wrapper" id="whoare-wrapper">
                                    <div class="contact-form__custom-select">


                                        <select name="whoare" class="js-custom-select" required
                                            data-parsley-class-handler="#whoare-wrapper"
                                            data-parsley-errors-container="#whoare-wrapper"
                                            data-parsley-trigger="change">
                                            <option value="" placeholder>
                                                Who are you?
                                            </option>
                                            <option value="Person">
                                                Person
                                            </option>
                                            <option value="Company">
                                                Company
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="contact-form__form-input-wrapper">
                                    <div class="contact-form__custom-select">


                                        <select name="country" class="js-custom-select">
                                            <option value="" placeholder>
                                                Country
                                            </option>
                                            <option value="Albania">
                                                Albania
                                            </option>
                                            <option value="Albania">
                                                Albania
                                            </option>
                                            <option value="Albania">
                                                Albania
                                            </option>
                                            <option value="Albania">
                                                Albania
                                            </option>
                                            <option value="Albania">
                                                Albania
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div
                                    class="contact-form__form-input-wrapper contact-form__form-input-wrapper--fullwidth">
                                    <input type="text" class="contact-form__form-input" id="message"
                                        placeholder="Message" autocomplete="not">
                                    <label for="message" class="contact-form__form-input-label">Message</label>
                                </div>

                                <button type="submit" class="contact-form__form-submit" data-text="Send">
                                    <span class="contact-form__form-submit-text">
                                        Send
                                    </span>

                                </button>
                                <div
                                    class="contact-form__form-input-wrapper contact-form__form-input-wrapper--centered">
                                    <label class="contact-form__checkbox">
                                        <input type="checkbox" name="policy" class="contact-form__checkbox-input"
                                            value="Y" checked required>
                                        <span class="contact-form__checkbox-mark">

                                        </span>
                                        I give on data submission
                                    </label>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="contact-form__success">
                <div class="contact-form__success-sphere">
                    <video class="lazyload" muted="" data-autoplay="" loop playsinline
                        data-poster="img/video-poster.jpg" preload="none">
                        <source src="assets/videos/video.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="contact-form__success-content">
                    <h3 class="contact-form__success-heading">
                        Thank you, your<br> application has been sent
                    </h3>
                    <a href="#" class="contact-form__success-back-link" data-text="Home page">
                        <span class="contact-form__success-back-link-text">
                            Home page
                        </span>

                    </a>
                </div>
            </div>
            <button class="contact-form__close-btn js-form-close">
                <svg width="14" height="14" aria-hidden="true" class="icon icon-cross">
                    <use xlink:href="#cross" />
                </svg>
            </button>
        </div>
        {{> header }}

        <main class="page-main">
            {{#block "main"}}

            {{/block}}

        </main>
        {{> footer }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/app.js"></script>
        <script src="assets/js/backend.js"></script>
    </div>
</body>

</html>