{{#extend "layout"}}
{{#content "main"}}

<section class="intro js-key-scrolling-block">

    <div class="container">
        <div class="intro__content">
            <div class="intro__shape">
                <img src="img/shape.svg" alt="" class="intro__shape-image">
            </div>
            <div class="intro__row">
                <div class="intro__left-col">
                    <div class="intro__text">
                        We deliver <em>sales efficiency in retail</em><br> through innovation, amazing<br> products and
                        practices.
                    </div>
                    <div class="intro__subtext">
                        That helps to keep products on shelf and makes your<br> customers pleased
                    </div>
                    <a href="#" class="intro__link js-form-open" data-text="Make your store perfect">
                        <span class="intro__link-text">
                            Make your store perfect
                        </span>
                    </a>
                </div>
                <div class="intro__right-col">
                    <ul class="intro__features">
                        <li class="intro__features-item">
                            <h4 class="intro__features-item-key">
                                Shelf check is
                            </h4>
                            <div class="intro__features-item-value">
                                80% faster
                            </div>
                        </li>
                        <li class="intro__features-item">
                            <h4 class="intro__features-item-key">
                                Shelf data accuracy is
                            </h4>
                            <div class="intro__features-item-value">
                                over 95%
                            </div>
                        </li>
                        <li class="intro__features-item">
                            <h4 class="intro__features-item-key">
                                Data
                            </h4>
                            <div class="intro__features-item-value">
                                high reliability
                            </div>
                            <div class="intro__features-remark">
                                comparing with manual retail audit
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="questions js-key-scrolling-block">
    <div class="container">
        <div class="questions__content">


            <div class="questions__intro-text">
                Everyday CPG companes face billion dollar<br> questions

                <svg width="18" height="18" aria-hidden="true" class="icon icon-dollar">
                    <use xlink:href="#dollar" />
                </svg>
            </div>
            <div class="questions__actual-questions">

                <img src="img/question.png" alt="" class="questions__actual-questions-symbol">
                <ul class="questions__items">
                    <li class="questions__item">
                        What is my share of shelf?
                    </li>
                    <li class="questions__item">
                        What is my on shelf availability level?
                    </li>
                    <li class="questions__item">
                        What is my planogram compliance?
                    </li>
                    <li class="questions__item">
                        What is my competitive index?
                    </li>
                </ul>
            </div>
            <div class="questions__benefits">
                <div class="questions__benefits-item">
                    <h4 class="questions__benefits-item-key">
                        For Retail
                    </h4>
                    <div class="questions__benefits-item-value">
                        Monitor every shelf in every store to increase efficiency and sales
                    </div>
                </div>
                <div class="questions__benefits-item">
                    <h4 class="questions__benefits-item-key">
                        For CPG
                    </h4>
                    <div class="questions__benefits-item-value">
                        Optimize in-store execution and drive merchandising excellence
                    </div>
                </div>
            </div>
            <div class="questions__slogan">
                Our vision is to make sales<br> operations more strategic<br> and dynamic
            </div>
        </div>
    </div>
</section>


<section class="ai js-key-scrolling-block">
    <div class="container">
        <div class="ai__card">
            <img src="img/ai-bg.svg" alt="" class="ai__card-bg">
            <h2 class="ai__card-heading">
                Put AI inside your Sales Effectiveness Process.
            </h2>
            <div class="ai__card-text">
                Our Ailet Platform driven by visual recognition and artificial intelligence can become one version of
                truth. Motivate your sales forces based
                on real sales drivers and KPIs.
            </div>
            <a href="#" class="ai__card-link js-form-open" data-text="Request a demo">
                <span class="ai__card-link-text">
                    Request a demo
                </span>
            </a>
        </div>
    </div>
</section>


<section class="how-it-works js-key-scrolling-block" id="overview">
    <div class="container">
        <div class="how-it-works__items">
            <div class="how-it-works__item">
                <div class="how-it-works__item-left-col">
                    <div class="how-it-works__item-images">
                        {{!-- <img src="img/how-it-works/sphere.jpg" alt=""
                            class="how-it-works__item-image how-it-works__item-image--static"> --}}

                        <div class="how-it-works__item-video-wrapper">
                            <video class="lazyload" muted="" data-autoplay="" loop playsinline
                                data-poster="img/video-poster.jpg" preload="none">
                                <source src="assets/videos/video.mp4" type="video/mp4" />
                            </video>
                        </div>

                    </div>
                </div>
                <div class="how-it-works__item-right-col">
                    <div class="how-it-works__item-text-content">
                        <div class="how-it-works__item-label">
                            Ailet AI
                        </div>
                        <div class="how-it-works__item-text-block">
                            <h3 class="how-it-works__item-large-heading">
                                How<br> solution<br> works?
                            </h3>
                            <div class="how-it-works__item-text">
                                Save time&reduce costs while<br> up-lift your sales
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-it-works__item">
                <div class="how-it-works__item-left-col">
                    <div class="how-it-works__item-images">
                        <div class="how-it-works__item-video-wrapper">
                            <video class="lazyload" muted="" data-autoplay="" loop playsinline
                                data-poster="img/video-poster.jpg" preload="none">
                                <source src="assets/videos/video.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <img src="img/how-it-works/phone.png" alt=""
                            class="how-it-works__item-image how-it-works__item-image how-it-works__item-image--phone how-it-works__item-image--static">
                        <img src="img/how-it-works/monitors.png" alt="" class="how-it-works__item-image">
                    </div>
                </div>
                <div class="how-it-works__item-right-col">
                    <div class="how-it-works__item-text-content">
                        <div class="how-it-works__item-label">
                            Stage 1
                        </div>
                        <div class="how-it-works__item-text-block">
                            <h3 class="how-it-works__item-normal-heading">
                                Take a photo in store<br> using IR application
                            </h3>
                            <div class="how-it-works__item-dull-text">
                                Shelf photos taken by your reps are uploaded to the cloud, where AI converts them
                                accurately
                                and instantly into shelf data (product, price, promotion, placement)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-it-works__item">
                <div class="how-it-works__item-left-col">
                    <div class="how-it-works__item-images">
                        <div class="how-it-works__item-video-wrapper">
                            <video class="lazyload" muted="" data-autoplay="" loop playsinline
                                data-poster="img/video-poster.jpg" preload="none">
                                <source src="assets/videos/video.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <img src="img/how-it-works/phone-2.png" alt=""
                            class="how-it-works__item-image how-it-works__item-image how-it-works__item-image--phone how-it-works__item-image--static">
                        <img src="img/how-it-works/monitors-2.png" alt="" class="how-it-works__item-image">
                    </div>
                </div>
                <div class="how-it-works__item-right-col">
                    <div class="how-it-works__item-text-content">
                        <div class="how-it-works__item-label">
                            Stage 2
                        </div>
                        <div class="how-it-works__item-text-block">
                            <h3 class="how-it-works__item-normal-heading">
                                Images are recognized quickly and report
                                is generated
                            </h3>
                            <div class="how-it-works__item-dull-text">
                                Best shelf activity information is communicated to locations in real time, and instant
                                visibility of in-store retail is made available to corporate customers
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="how-it-works__more">
            <a href="#" class="how-it-works__more-link js-form-open" data-text="We have more to say about our technologies">
                <span class="how-it-works__more-link-text">
                    We have more to say about our technologies
                </span>
            </a>
        </div>

    </div>
</section>


<section class="solutions js-key-scrolling-block">
    <div class="container">
        <h2 class="solutions__heading">
            Solutions to improve<br> efficiency

            <svg width="18" height="18" aria-hidden="true" class="icon icon-trend">
                <use xlink:href="#trend" />
            </svg>
        </h2>

        <div class="solutions__row">
            <div class="solutions__left-col">
                <div class="solutions__images">
                    <div class="solutions__images-container">
                        <img src="img/solutions-1.jpg" alt="" class="solutions__image">
                        <img src="img/solutions-2.jpg" alt="" class="solutions__image">
                        <img src="img/solutions-1.jpg" alt="" class="solutions__image">
                        <img src="img/solutions-2.jpg" alt="" class="solutions__image">
                    </div>
                </div>
            </div>
            <div class="solutions__right-col">
                <div class="solutions__accordions">
                    <div class="solutions__accordion">
                        <div class="solutions__accordion-btn">
                            Ailet mobile app capabilities

                            <span class="solutions__accordion-btn-plus">

                            </span>
                        </div>
                        <div class="solutions__accordion-content">
                            <div class="solutions__accordion-content-inner">
                                <ol>
                                    <li>
                                        In Store Task management (Mobile field sales force user can get a task for each
                                        store visit)
                                    </li>
                                    <li>
                                        Photo quality checks (User can take a high quality photo of the shelf with
                                        built-in guidelines)
                                    </li>
                                    <li>
                                        Shelf & Store KPIs analytics (User gets calculated KPIs in real time and can
                                        improve them during same visit)
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="solutions__accordion">
                        <div class="solutions__accordion-btn">
                            AI Driven Data Management platform

                            <span class="solutions__accordion-btn-plus">

                            </span>
                        </div>
                        <div class="solutions__accordion-content">
                            <div class="solutions__accordion-content-inner">
                                <ol>
                                    <li>
                                        In Store Task management (Mobile field sales force user can get a task for each
                                        store visit)
                                    </li>
                                    <li>
                                        Photo quality checks (User can take a high quality photo of the shelf with
                                        built-in guidelines)
                                    </li>
                                    <li>
                                        Shelf & Store KPIs analytics (User gets calculated KPIs in real time and can
                                        improve them during same visit)
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="solutions__accordion">
                        <div class="solutions__accordion-btn">
                            API & DeepLink integration (Our solution can be seamlessly integrated in 1 week into any
                            Salesforce Automation Platform)

                            <span class="solutions__accordion-btn-plus">

                            </span>
                        </div>
                        <div class="solutions__accordion-content">
                            <div class="solutions__accordion-content-inner">
                                <ol>
                                    <li>
                                        In Store Task management (Mobile field sales force user can get a task for each
                                        store visit)
                                    </li>
                                    <li>
                                        Photo quality checks (User can take a high quality photo of the shelf with
                                        built-in guidelines)
                                    </li>
                                    <li>
                                        Shelf & Store KPIs analytics (User gets calculated KPIs in real time and can
                                        improve them during same visit)
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="solutions__accordion">
                        <div class="solutions__accordion-btn">
                            Data visualization platform - Fast Business Intelligence Platform to visualize any Retail
                            Execution Process and provide Actionable Dashboards

                            <span class="solutions__accordion-btn-plus">

                            </span>
                        </div>
                        <div class="solutions__accordion-content">
                            <div class="solutions__accordion-content-inner">
                                <ol>
                                    <li>
                                        In Store Task management (Mobile field sales force user can get a task for each
                                        store visit)
                                    </li>
                                    <li>
                                        Photo quality checks (User can take a high quality photo of the shelf with
                                        built-in guidelines)
                                    </li>
                                    <li>
                                        Shelf & Store KPIs analytics (User gets calculated KPIs in real time and can
                                        improve them during same visit)
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="why-ailet js-key-scrolling-block" id="why">
    <div class="why-ailet__shape">
        <img src="img/shape.svg" alt="" class="why-ailet__shape-image">
    </div>
    <div class="container">
        <h2 class="why-ailet__heading">
            Why Ailet?
        </h2>
        <div class="why-ailet__benefits">
            <div class="why-ailet__benefits-col">
                <div class="why-ailet__benefits-card">
                    <img src="img/benefits-icons/1.svg" alt="" class="why-ailet__benefits-card-icon">
                    <div class="why-ailet__benefits-card-content">
                        <h4 class="why-ailet__benefits-card-heading">
                            Trustworthy solution
                        </h4>
                        <div class="why-ailet__benefits-card-text">
                            Our solution is daily used by 10 000 mobile users in all continents. We recognize 1B SKUs
                            from 6M photos per month from 500k stores
                        </div>
                    </div>
                </div>
                <div class="why-ailet__benefits-card">
                    <img src="img/benefits-icons/2.svg" alt="" class="why-ailet__benefits-card-icon">
                    <div class="why-ailet__benefits-card-content">
                        <h4 class="why-ailet__benefits-card-heading">
                            Master Data is our pain
                        </h4>
                        <div class="why-ailet__benefits-card-text">
                            Just let us know which competitors you care most about and let us find all other
                            information. We give you a ready to use competitor intelligence solution with no efforts on
                            your side.
                        </div>
                    </div>
                </div>
                <div class="why-ailet__benefits-card">
                    <img src="img/benefits-icons/3.svg" alt="" class="why-ailet__benefits-card-icon">
                    <div class="why-ailet__benefits-card-content">
                        <h4 class="why-ailet__benefits-card-heading">
                            Technology leadership
                        </h4>
                        <div class="why-ailet__benefits-card-text">
                            Ailet is recognized as a key player in image recognition in the Retail market
                        </div>
                    </div>
                </div>
            </div>
            <div class="why-ailet__benefits-col">
                <div class="why-ailet__benefits-card">
                    <img src="img/benefits-icons/4.svg" alt="" class="why-ailet__benefits-card-icon">
                    <div class="why-ailet__benefits-card-content">
                        <h4 class="why-ailet__benefits-card-heading">
                            Flexibility
                        </h4>
                        <div class="why-ailet__benefits-card-text">
                            Our Platform is flexible and agile. You can use the solution standalone or integrated inside
                            SFA/CRM. We simplify current data integrations between all SFA components. Any region, store
                            format, general or traditional trade
                        </div>
                    </div>
                </div>
                <div class="why-ailet__benefits-card">
                    <img src="img/benefits-icons/5.svg" alt="" class="why-ailet__benefits-card-icon">
                    <div class="why-ailet__benefits-card-content">
                        <h4 class="why-ailet__benefits-card-heading">
                            Faster than ever before
                        </h4>
                        <div class="why-ailet__benefits-card-text">
                            We believe that each minute counts. Manage your retail execution dynamically. Save time,
                            Save money, Win your competitors
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="trusted-partners js-key-scrolling-block" id="partners">
    <div class="container">
        <div class="trusted-partners__wrapper">


            <div class="trusted-partners__top-row">
                <div class="trusted-partners__content">
                    <h2 class="trusted-partners__heading">
                        Trusted Partners

                        <svg width="18" height="18" aria-hidden="true" class="icon icon-persons">
                            <use xlink:href="#persons" />
                        </svg>
                    </h2>
                    <div class="trusted-partners__text">
                        <p>
                            We do believe that our customer success is based on partner success. Our Platform can be
                            integrated with any SFA, CRM, Field Marketing and Crowd Solutions. Our image recognition
                            component can empower your salesforce and add valuable analytical capabilities to your end
                            customers.
                        </p>
                        <a href="#" class="trusted-partners__become-a-partner js-form-open">
                            <span class="trusted-partners__become-a-partner-text">
                                become a partner
                            </span>

                        </a>
                    </div>
                </div>
                <div class="trusted-partners__amount">
                    <div class="trusted-partners__amount-digit">
                        20
                    </div>
                    <div class="trusted-partners__amount-text">
                        partners globally
                    </div>
                </div>
            </div>

            <div class="trusted-partners__logos">
                <a href="#" class="trusted-partners__logo">
                    <img src="img/partners/1.png" alt="" class="trusted-partners__logo-image">
                </a>
                <a href="#" class="trusted-partners__logo">
                    <img src="img/partners/2.png" alt="" class="trusted-partners__logo-image">
                </a>
                <a href="#" class="trusted-partners__logo">
                    <img src="img/partners/3.png" alt="" class="trusted-partners__logo-image">
                </a>
                <a href="#" class="trusted-partners__logo">
                    <img src="img/partners/4.png" alt="" class="trusted-partners__logo-image">
                </a>
                <a href="#" class="trusted-partners__logo">
                    <img src="img/partners/5.png" alt="" class="trusted-partners__logo-image">
                </a>
            </div>
        </div>
    </div>
</section>



<section class="clients js-key-scrolling-block">
    <div class="container">
        <h2 class="clients__heading">
            Clients

            <a href="#" class="trusted-partners__become-a-partner js-form-open">
                <span class="trusted-partners__become-a-partner-text">
                    case studies
                </span>

            </a>
        </h2>
        <div class="clients__sliders">
            <div class="clients__slider js-clients-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="clients__slider-card">
                                <img src="img/clients/1.png" alt="" class="clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="clients__slider-card">
                                <img src="img/clients/2.png" alt="" class="clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="clients__slider-card">
                                <img src="img/clients/3.png" alt="" class="clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="clients__slider-card">
                                <img src="img/clients/1.png" alt="" class="clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="clients__slider-card">
                                <img src="img/clients/2.png" alt="" class="clients__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clients__slider js-clients-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="clients__slider-card">
                                <img src="img/clients/4.png" alt="" class="clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="clients__slider-card">
                                <img src="img/clients/5.png" alt="" class="clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="clients__slider-card">
                                <img src="img/clients/6.png" alt="" class="clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="clients__slider-card">
                                <img src="img/clients/4.png" alt="" class="clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="clients__slider-card">
                                <img src="img/clients/5.png" alt="" class="clients__slider-card-image">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ai js-key-scrolling-block">
    <div class="container">
        <div class="ai__card">
            <img src="img/ai-bg.svg" alt="" class="ai__card-bg">
            <h2 class="ai__card-heading">
                Get Started, Contact us!
            </h2>
            <div class="ai__card-text">
                If you have any questions or would like a consultation<br> or a demo, contact us!
            </div>
            <a href="#" class="ai__card-link js-form-open" data-text="Get in touch">
                <span class="ai__card-link-text">
                    Get in touch
                </span>
            </a>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}