.container {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}

.page-main {
    flex-grow: 1;

    // display: flex;
    // flex-direction: column;
}

.side-screen {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color: var(--deep-blue);


    .intro-animation-finished & {
        @include breakpoint(tablet) {
            transform: translateX(-100%) !important;
        }
       
    }

    @include breakpoint(tablet) {
        z-index: 100;
        padding-bottom: 9rem;
    }
}

.side-screen-inner {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: relative;
    -webkit-overflow-scrolling: touch;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 61rem;
    }
}

.side-screen-inner__video-container {
    width: 62rem;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
  
    mask-image: url('../img/mask-3.png');
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
        width: 100%;
    }

    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.side-screen-text {
    font-size: 4.5rem;
    line-height: 5.4rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--input-mono);
    z-index: 5;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.5s;

    .animatable & {
        opacity: 1;
    }

    @include breakpoint(tablet) {
        opacity: 1;
    }
    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.3;
    }
}

.page-content {
    // flex-grow: 1;
    // display: flex;
    // flex-direction: column;

    position: relative;
    z-index: 20;
    min-height: 100vh;
    overflow: hidden;
  
    section {
        background-color: #fff;
    }
}
